In [1]:
from dotenv import load_dotenv
from my_module.MySQL_instance import *
from my_module.collect import city_info
load_dotenv("secret_keys.env")

True

In [2]:
connection_string = get_MySQL_instance()

## Create the MySQL table `city`

In [3]:
city_list = ['St._Wolfgang_im_Salzkammergut', 'Berlin', 'Leoben', 'Port_Louis', 'Ottawa', 'Lyon', 'Vienna', 'Brazilia', 'Dublin', 'Barcelona', 'Mexico City', 'Pretoria', 'Seoul', 'Tokyo', 'Paris', 'New_York_City', 'Oerlinghausen']
city_df = city_info(city_list)
to_MySQL(city_df['CityName'], connection_string, 'city')

'DataFrame sent to the MySQL table "city"!'

## Create the MySQL table `country`

In [4]:
query = '''
SELECT *
FROM city;
'''
city_from_MySQL = from_MySQL(connection_string, query)
country_df = city_from_MySQL.merge(city_df, on = 'CityName', how = 'left')
country_df.drop(columns = ['CityName', 'Latitude', 'Longitude', 'YearDataRetrieved', 'Population'], inplace = True)
to_MySQL(country_df, connection_string, 'country')

'DataFrame sent to the MySQL table "country"!'

## Create the MySQL table `geolocation`

In [5]:
geolocation_df = city_from_MySQL.merge(city_df, on = 'CityName', how = 'left')
geolocation_df.drop(columns = ['CityName', 'CountryName', 'YearDataRetrieved', 'Population'], inplace = True)
to_MySQL(geolocation_df, connection_string, 'geolocation')

'DataFrame sent to the MySQL table "geolocation"!'

## Create the MySQL table `population`

In [6]:
population_df = city_from_MySQL.merge(city_df, on = 'CityName', how = 'left')
population_df.drop(columns = ['CityName', 'CountryName', 'CountryName', 'Latitude', 'Longitude'], inplace = True)
to_MySQL(population_df, connection_string, 'population')

'DataFrame sent to the MySQL table "population"!'